*
{
    box-sizing: border-box;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin :0px;
}
.SliderContent
{
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.ImageContainer
{
    display: flex; /*görseller yanyana dizilir*/
}
.icon 
{
    position: absolute;
    color:white;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 25px;
}
.prev
{
    left:10px;
}
.next
{
    right:10px;
}
.icon:hover
{
    color:red;
}