body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}
#generate-report-btn {
    background-color: #28a745;
}

#generate-report-btn:hover {
    background-color: #218838;
}

#logout-btn {
    background-color: #dc3545;
}

#logout-btn:hover {
    background-color: #c82333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.passed {
    background-color: #d4edda;
    color: #155724;
}

li.failed {
    background-color: #f8d7da;
    color: #721c24;
}

.hidden {
    display: none;
}
